*{
    margin: 0;
    padding:0;

}

body{
    background-color: #8EA4D2;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name{
    color: #5B3000;
   
}

.box{
    height: 18vmin;
    width:  18vmin;
    border-radius:1rem ;
    border: none;
    box-shadow:0 0 1rem rgba(0,0,0,0.4) ;
    font-size: 8vmin;
    color: #83781B ;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    
}

#resetbtn{
    padding: 1rem;
    font-size:2rem ;
    background-color: #191913;
    color: aliceblue;
    border-radius: 1.5rem;
    border: none;

}

.author{
    color: #272727;
}