*{
    margin: 0;
    padding:0;
}

body{
    background-color: #8EA4D2;
    text-align: center;
}

#welcomeMsg{
    color: #802392;
    justify-content: center;
    font-size: 10vmin;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name{
    color: #3B060A;
    font-size: 10vmin;

   
}

.box{
    height: 18vmin;
    width:  18vmin;
    border-radius:1rem ;
    border: none;
    box-shadow:0 0 1rem rgba(0,0,0,0.4) ;
    font-size: 8vmin;
    color: #83781B ;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    
}

#resetbtn{
    padding: 1rem;
    font-size:2rem ;
    background-color: #191913;
    color: aliceblue;
    border-radius: 1.5rem;
    border: none;

}

.author{
    color: #272727;
}
#newGameButton{
    padding: 1rem;
    font-size:2rem ;
    background-color: #6b6b0a;
    color: aliceblue;
    border-radius: 1.5rem;
    border: none;
}
#msg{
   color: rgb(109, 79, 4); 
   font-size: 10vmin;
}

.msgcontainer{
    height: 80vmin;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
};

.hide{
    display: none;
}
